<%- include("partials/header") %>
    <table id="tasks" class="table table-striped">
        <h4><%= result %></h4>
        <thead>
        <tr>
            <th>Geliştirici</th>
            <th>İş veren</th>
            <th>İş</th>
            <th>Zorluk</th>
            <th>Tahmini bitiş</th>
        </tr>
        </thead>
        <tbody>
            <% tasks.forEach(element => { %>
                <tr>
                    <td><%= element.dev %></td>
                    <td><%= element.provider %></td>
                    <td><%= element.name %></td>
                    <td><%= element.level %></td>
                    <td><%= element.estimated_duration %></td>
                </tr>
            <% }); %>
        <tbody>
    </table>
<%- include("partials/footer") %>